<body>
	{{ template "globals/header.tmpl" .}}

	<div>
		<ul>
		<li><a href="/">Home</a>
		<li><a href="user/">User</a>
		<li><a href="registration">Registration</a>
		</ul>
	</div>

	<div>
		<p>CONTENT AREA</p>
	</div>

	{{ template "globals/footer.tmpl" .}}