{{ define "globals/header.tmpl" }}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
	<title>{{ .title }}</title>

	<script type="text/javascript">

	function handleRegistration() {
		alert("registration");
	}

	const registrationForm = document.getElementById("userregistration");

	</script>

</head>

<body>

{{ end }}