<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div>Create User</div>
    
    <div><a href="create_user.html">x</a> request JWT token</div>
    <div><a href="create_user.html">x</a> secure page</p>

</body>

</html>

